body {
    font-family: "Afacad", sans-serif;
}

.header_sec .nav-link {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.header_sec .navbar-nav {
    margin-left: 50px;
}

.btn-call,
.btn-call:hover {
    background-color: #304674;
    color: #fff;
    padding: 8px 20px;
    position: relative;
    border-radius: 0 50px 50px 0;
    font-size: 18px;
    font-weight: 500;
}



.btn-call i {
    transform: rotate(90deg);
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    color: #304674;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -34px;
    top: -5px;
    border: 1px solid #304674;
}

.middle_imgsec {
    height: 400px;
    width: 100%;
}

.middle_imgsec img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainsec_content .london_heading {
    text-align: center;
}

.mainsec_content .london_heading h5 {
    background-color: #304674;
    padding: 20px;
    margin: 0;
    color: #fff;
    font-size: 24px;
}

.bookingbutton {
    text-align: center;
    margin: 30px 0;
}

.bookingbutton a {
    background-color: #304674;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.btn_call,
.btn_call:hover {
    background-color: #304674;
    color: #fff;
    padding: 8px 20px;
    position: relative;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn_call i {
    margin-right: 5px;
}

.no_hold_sec {
    text-align: center;
}

.tab_section {
    margin-top: 40px;
}

.tab_section .nav-item .nav-link {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.tab_section .nav-item .nav-link.active {
    border-bottom: 2px solid #304674;
    background-color: #30467414;
}

.tab_section .trip_mainsec {
    padding-top: 20px;
}

.tab_section .trip_mainsec .form-group {
    margin-bottom: 20px;
}

.tab_section .trip_mainsec .form-group label {
    margin-bottom: 10px;
    font-size: 20px;
}

.tab_section .trip_mainsec .form-group .form-control {
    padding: 17px 20px;
    line-height: 1;
    border-radius: 20px;
    border: 1px solid #D8DDE1;
    color: #565656;
    background-color: #ffffff;
}

.btn_search,
.btn_search:hover {
    background-color: #304674;
    border-radius: 20px;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 20px;
    margin-top: 40px;
    padding: 10px 40px;
}

.onloadmoal .modal-body {
    padding: 0;
    text-align: center;
}

.onloadmoal .modal-body a {
    text-decoration: none;
    color: #000;
}

.onloadmoal .modal-body .modal_text h5 {
    background-color: #304674;
    padding: 20px;
    margin: 0;
    color: #fff;
    font-size: 24px;
}

.onloadmoal .modal-body .modal_text p {
    font-size: 24px;
    margin-top: 10px;
}

.onloadmoal .modal-body .modal_text .btn_group {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 95%;
    flex-wrap: wrap;
    margin: auto;
}

.onloadmoal .modal-body .modal_text .btn_group .btn_tab {
    background-color: #304674;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 48%;
    color: #fff;
    padding: 10px 20px;
}

.onloadmoal .modal-body {
    margin-bottom: 20px;
}

.modal_text img {
    height: 150px;
}
.modal_text .btn-call{
    color: #fff!important;
}
